$primary-color : #E9F8FF;
$dark-theme:(
    "text":white,
    "hover":rgb(94,94,94),
    "btnBack":rgb(49,49,49),
    "chatBack":rgb(34,34,34),
    "shadow":rgb(28,28,28),
    "videoBack":rgb(27,27,27),
    "toolbar":#090a0c,
    "chatMsg":#171a1b
);
$shades-blue:(
    "front":#B7EBFE,
    "border":#CEF1FD,
    "back": #E9F8FF,
    "nav": #141049,
    "backgroundBlue":#0F235E,
    "frontbc":#0B2440,
    "btnBack":#16213E,
    "btnFront":#0F3460
);
$logo-set-color:(
    "big" : #2E9CDB,
    "med": #eb5757,
    "small": #26AE60
);
$font-set:(
    "rb": "Roboto" ,
    "rbs":"Roboto Slab"
);
@function getBlue($blue-shade){
    @return map-get($shades-blue,$blue-shade);
}
@function dark($dark-color){
    @return map-get($dark-theme,$dark-color);
}
@function logoColor($font-color){
    @return map-get($logo-set-color,$font-color);
}
@function fontFamily($font-family){
    @return map-get($font-set,$font-family);
}
@mixin flexp($direction){
    display: flex;
    flex-direction: $direction;
}
@mixin transition-ease{
    transition: all 0.5s ease-in-out;
}
@mixin media-md {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
@mixin media-sm{
  @media screen and (max-width:768px){
    @content;
  }
}