.option_full{
    width: 100%;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_center{
        margin: auto;
        width: 40%;
        height: 200px;
        text-align: center;
         .P{
            text-align: center;
            width: 100%;
            color : getBlue(nav);
            font-size: 2rem;
        }
        &_btn{
            background: getBlue(nav);
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
            opacity: 0.98;
            border-radius: 10px;
            &_a{
                margin: auto;
            }
        }
    }
}
