@include media-md {
  .menu-logo {
    &__title {
      color: white;
    }
  }

  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      text-align: right;
      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      .dis {
        display: none;
      }
      &__link {
        font-size: 0.8rem;
      }
    }
  }
}

@include media-sm {
  .main {
    height: 85vh;
    &_wrap {
      display: inline-block;
      height: 100%;
      width: 100%;
      border: none;
      &__pos {
        display: none;
      }
      &__form {
        width: 100%;
        margin: auto;
        &_h{
          width: 100%;
          border-radius:0;
          box-shadow: none;
          background: getBlue(backgroundBlue);
        }
        .label{
          font-size: 1.2rem;
        }
      }
    }
  }

  .r {
    display: none;
  }

  .dis {
    display: inline;
  }
  .option_full {
    #{&}_center {
      width: 70%;
    }
  }
}
