@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "./resets";
@import "./config";
@import "./nav";
@import "./nav2";
@import "./outside";
@import "./responsive";

@import "./animation";
a{
color: white;
text-decoration: none;
}
header {
z-index: 2;
width: 100%;
height: 58px;
}
button:focus{
    outline: none;
}

body {

    margin: 0;
    padding: 0;
    background: #0F235E;
    background-image: url("/img/backgroundBlue.svg");
    background-repeat: repeat-y;
    background-size: 100vw 100vh;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Lato',Helvetica, sans-serif;
    
  }
  .body{
    display: flex;
    width: 100%;
    height: 95%;
  }
  .container {
    margin :auto;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  }
  .container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #010b47;
    height: 7%;
    width: 100%;
    padding-top: 2px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    background-color: #fcf9f9;
    height: 100%;
    width: 100%;
  }
  .circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin:auto 5px;
  }
  .one {
    margin-left: 10px;
    background: #ff6059;
  }
  .two {
    background: #ffbe2e;
  }
  .three {
    background: #2cca40;
  }
  
  .img {
    height: 40%;
    width: 100%;
    display: flex;
  }
  .secure {
    margin: auto;
    height: 100px;
    width: 100px;
  }
  .inp {
    height: 100px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    position: relative;
  }
 .div {
    width: 70%;
    height:35px;
    margin-top: 20px;
    border-radius: 2px;
    margin: auto;
    display: flex;
    
  }
  .div > p{
      margin-left:5px;
      margin-top: auto;
      margin-bottom: auto;
      width: 85%;
  }
.div > p ,button{
    font-family: Lato;
    font-size: 0.8rem;
    font-weight: 300;
}
.div> span{
      display: flex;
      margin: auto;
  }
  i{
      font-size: 0.8rem;
  }

  .A{
    border: 1.5px solid #ff6059;
  }
 .l{
    border: 1.5px solid #14b128;
  }
.fa-lock{
    color: #14b128;
}
.fa-lock-open{
    color:#ffbe2e;
}
.inner-container1{
    width: 70px;
    height: 20px;
    display: flex;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
  .button {
    width: 20%;
    height: 35px;
    margin: auto;
    color: white;
    border-radius: 5px;
  }
  .button1 {
    background-color: #238636;
    border: 1.5px solid #2ea043;
  }
  .button2 {
    background-color: #ff6059;
    border: 1.5px solid #b4140d;
  }
  @media (max-width:768px){
      .container{
          width: 90%;
          height: 90%;
      }
      .container2{
          justify-content: space-evenly;
      }
      .inp{
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 10px;
      }
  .div{
          width: 80%;
          margin-bottom: 10px;
          background-size: 7%;
          
      }
      .button{
          width: 80%;
          margin-top: 10px;
      }
  }