@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "./resets";
body{
    background-image: url("/img/wave.svg");
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-color: #536976;
    font-family:"Lato",Arial, Helvetica, sans-serif;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
   &-container{
        margin: auto;
        background:#303136;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 13px 0px #1d1f26;
         .logo{
             display: flex;
             margin: 40px auto;
             width: 300px;
             color: white;
             font-size: 1.5rem;
            .logo-img{
                margin-left: 40px;
                img{
                    width: 60px;
                }
            }
            &>p{
                margin: auto;
            }
        }
        & > button{
            cursor: pointer;
            font-size: 1.2rem;
            color:white;
            background:#4863c4;
            border: none;
            border-radius: 5px;
            width: 300px;
            height: 50px;
            margin:0 40px 40px;
            .para{
                width: 100%;
                display: flex;
                flex-direction: row;
                i{
                    margin-left: 10px;
                }
                p{
                    margin :auto;
                    text-align: center;
                }
            }
        }
        &>button:hover{
            background: #315af0;
            transition: 0.5s ease-in-out;
        }
    }
}

@media(max-width:400px){
    body{
        background-size: 200%;
    }
    .main{
       &-container{
        .logo{
            margin: 30px auto;
            width: 200px;
            color: white;
            font-size: 1.4rem;
           .logo-img{
               margin-left: 10px;
               img{
                   width: 50px;
               }
           }
       }
            & > button{
                font-size: 1rem;
                width: 200px;
                margin:0 30px 30px;
            }
        }
    }
}