<header>
     <div class="menu-logo">
       <img class="menu-logo__img" src="/img/logo.png" alt="logo" />
       <div class="menu-logo__title">Conference</div>
     </div>
     <div class="menu-btn">
       <span class="menu-btn__burger"></span>
     </div>
     <nav class="nav">
       <ul class="menu-nav">
         <li class="menu-nav__item active">
           <a href="/" class="menu-nav__link"> Home </a>
         </li>
         <li class="menu-nav__item">
           <a href="/Join" class="menu-nav__link"> JOIN A CONFERENCE </a>
         </li>
         <li class="menu-nav__item">
           <a href="/create" class="menu-nav__link"> CREATE A CONFERENCE </a>
         </li>
         <li class="menu-nav__item r">
           <div class="rm">
             <div class="circle_profile">
               <span class="first_letter"><%=initialName%></span>
             </div>
           </div>
         </li>
         <li class="dis menu-nav__item">
           <a href="/profile" class="menu-nav__link"> PROFILE </a>
         </li>
         <li class="menu-nav__item">
           <a href="/logout" class="menu-nav__link"> LOG OUT </a>
         </li>
       </ul>
     </nav>
   </header>
   