<link rel="stylesheet" href="/css/404.css">
<title>Error - 404 Page not found</title>
<%- include("partials/header"); -%> 
</head>
<body>
    <%-include("partials/nav")-%>
    <div class="error">
        <div class="error-details">
            <h1>Error</h1>
        </div>
        <div class="error-image">
            <img src="/img/404.svg" alt="404-error">
        </div>
        <div class="error-details">
            <h1>Page not found</h1>
        </div>
    </div>

<%-include("partials/footerEntry");-%>

