<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/conference.css">
	<script src="https://kit.fontawesome.com/89e8994d62.js" crossorigin="anonymous"></script>
	<title></title>
	<link rel="icon" href="/img/logo.png">
</head>

<body>
	<div class="options-main">
		<div class="crossInfoBtn">
			<i class="fas fa-times"></i>
		</div>
		<div class="options-main-container">
			<div class="options-main-container-left">
				<ul class="options-main-container-left-list">
					<li class="options-main-container-left-list-item active">
						Meet details
					</li>
				</ul>
			</div>
			<div class="options-main-container-right">
				<div class="options-main-container-right-details">
					<div class="copyBtn" onclick="copy()">
						<i class="far fa-copy"></i>
					</div>
					<p class="meetDetails">Tell your friends to join this conference fast.<br><br> Meet link : <a href="https://conference-jam.herokuapp.com">https://conference-jam.herokuapp.com</a><br><br> Room name : <span class="roomName"></span><br><br> Conference is a video conferencing app developed by student of <a href="">J.C.Bose university of technology,YMCA ,Faridabad</a> </p>
				</div>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="main_left">
			<div class="main_left_video">
				<div class="video-flex-box">
				<div class="video-grid">

				</div>
				</div>
			</div>
			<div class="main_left_toolbar">
				<div class="info">
                    <i class="fas fa-ellipsis-v"></i>
               </div>
				<div class="center-buttons">
					<div class="mic" onclick="muteUnmute()""> 
                        <i class="fas fa-microphone"></i>
					</div>
					<div class="end" onclick="window.location.href = '/end'">
                        <i class="fas fa-phone-slash"></i>
					</div>
					<div class="video" onclick="stopVideo()"> 
                        <i class="fas fa-video"></i>
					</div>
                </div>
                <div class="chat">
                    <i class="far fa-comment-alt"></i>
               </div>
            </div>
		</div>
		<div class="main_right">
			<div class="main_right_chat">
				<div class="main_right_chat_header">
					<div class="crossBtn">
						<i class="fas fa-times"></i>
					</div>
					<div class="messages active">
						<i class="far fa-comment-alt"></i>
					</div>
					<div class="participants ">

					</div>
				</div>
				<div class="main_right_chat_msg">
					<div class="messages-div">

						</div>
				</div>
				<div class="main_right_chat_usr">

				</div>
				<div class="main_right_chat_input">
					<form class="messageForm">
						<input type="text" required id="input-chat" placeholder="Type your message">
						<button class="send-div"> <i class="send fas fa-paper-plane"></i></button>
					</form>		
				</div>
			</div>
		</div>
	</div>
	<script class="messageTemplate" type="text/html">
		<div class="message">
							<div style="color:{{color}}" class="message-username" >
								<p >{{username}}</p>
							</div>
							<div class="message-content">
								<p>
									{{message}}
								</p>
							</div>
							<div class="message-time">
								<p>
									{{createdAt}}
								</p>
							</div>
        </div>
	</script>
	<script class="partNoTemplate" type="text/html">
		<div class="participants-content">
			<i class="far fa-user"></i>
			<div class="number">
				{{number}}
			</div>
		</div>
	</script>
	<script class="joinTemplate" type="text/html">
		<div class="joinDetail">
			<p><span>{{username}}</span> {{message}} {{createdAt}}</p>
		</div>
	</script>
	<script class="disconnectTemplate" type="text/html">
		<div class="disconnectDetail">
			<p><span>{{username}}</span> {{message}} {{createdAt}}</p>
		</div>
	</script>
	<script class="usersDataTemplate" type="text/html">
		<ul class="users-list">
			{{#users}}
			<li class="users-list-name">
				<div class="users-list-name-container">
					<div style="background: {{avatarColor}};" class="circle-image">
						<p>{{usernameInitial}}</p>
					</div>
					<p>{{username}}</p>
				</div>
			</li>
			{{/users}}
		</ul>
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script src="/js/cnfJS/conference.js"></script>
	<script src="/js/cnfJS/userDetails.js"></script>
	<script src="/js/cnfJS/sidebar.js"></script>
    <script src="/js/cnfJS/toolbar.js"></script>
</body>

</html>