<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/conference.css">
	<script src="https://kit.fontawesome.com/89e8994d62.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="main">
		<div class="main_left">
			<div class="main_left_video">
				<div class="video-grid"></div>
			</div>
			<div class="main_left_toolbar">
				<div class="info">
                    <i class="fas fa-ellipsis-v"></i>
               </div>
				<div class="center-buttons">
					<div class="mic"> 
                        <i class="fas fa-microphone-slash"></i>
					</div>
					<div class="end" onclick="window.location.href = '/end'">
                        <i class="fas fa-phone-slash"></i>
					</div>
					<div class="video"> 
                        <i class="fas fa-video-slash"></i>
					</div>
                </div>
                <div class="chat">
                    <i class="far fa-comment-alt"></i>
               </div>
            </div>
		</div>
		<div class="main_right">
			<div class="main_right_chat">
				<div class="main_right_chat_header">
					<div class="crossBtn">
						<i class="fas fa-times"></i>
					</div>
					<div class="messages active">
						<i class="far fa-comment-alt"></i>
					</div>
					<div class="participants ">
						<i class="far fa-user"></i>
					</div>
				</div>
				<div class="main_right_chat_msg">
					<div>
				
					</div>
				
				</div>
				<div class="main_right_chat_usr"></div>
				<div class="main_right_chat_input">
					<textarea type="text" id="input-chat" placeholder="Type your message"></textarea>
					<div class="send-div"> <i class="send fas fa-paper-plane"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/cnfJS/userDetails.js"></script>
	<script src="/js/cnfJS/sidebar.js"></script>
    <script src="/js/cnfJS/toolbar.js"></script>
	<script src="/js/cnfJS/desktopdisplay.js"></script>
</body>

</html>