<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/conference.css">
	<script src="https://kit.fontawesome.com/89e8994d62.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="main">
		<div class="main_left">
			<div class="main_left_video">
				<div class="video-grid"></div>
			</div>
			<div class="main_left_toolbar">
				<div class="info">
                    <i class="fas fa-ellipsis-v"></i>
               </div>
				<div class="center-buttons">
					<div class="mic"> 
                        <i class="fas fa-microphone-slash"></i>
					</div>
					<div class="end">
                        <i class="fas fa-phone-slash"></i>
					</div>
					<div class="video"> 
                        <i class="fas fa-video-slash"></i>
					</div>
                </div>
                <div class="chat">
                    <i class="far fa-comment-alt"></i>
               </div>
            </div>
		</div>
		<div class="main_right">
			<div class="main_right_chat">
				<div class="main_right_chat_header">
					<div class="messages active">
						<i class="far fa-comment-alt"></i>
					</div>
					<div class="participants ">
						<i class="far fa-user"></i>
					</div>
				</div>
				<div class="main_right_chat_msg">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Blandit volutpat maecenas volutpat blandit aliquam. Congue eu consequat ac felis donec et odio pellentesque diam. Sit amet consectetur adipiscing elit pellentesque habitant. Tellus cras adipiscing enim eu turpis. Non sodales neque sodales ut etiam sit. Varius vel pharetra vel turpis nunc eget lorem. Quam id leo in vitae turpis massa sed elementum. Et molestie ac feugiat sed lectus vestibulum.

Quisque egestas diam in arcu cursus. Eleifend mi in nulla posuere. Volutpat est velit egestas dui id ornare. A lacus vestibulum sed arcu non odio. Volutpat ac tincidunt vitae semper quis lectus nulla at. Amet massa vitae tortor condimentum lacinia quis vel eros donec. Pharetra sit amet aliquam id diam maecenas. Mi in nulla posuere sollicitudin aliquam ultrices. Neque aliquam vestibulum morbi blandit cursus risus at ultrices. Vitae suscipit tellus mauris a diam maecenas sed. Vulputate dignissim suspendisse in est ante in. Metus dictum at tempor commodo ullamcorper a lacus. Risus quis varius quam quisque. Aliquet enim tortor at auctor urna nunc.

Malesuada proin libero nunc consequat interdum varius sit amet mattis. Leo in vitae turpis massa. Justo laoreet sit amet cursus sit. Adipiscing elit ut aliquam purus sit amet. Diam in arcu cursus euismod quis viverra. Netus et malesuada fames ac turpis egestas integer eget. Elit pellentesque habitant morbi tristique senectus. Quis varius quam quisque id diam vel. Volutpat est velit egestas dui. Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales. Nisl rhoncus mattis rhoncus urna neque. Et ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Amet venenatis urna cursus eget nunc scelerisque viverra mauris. Sit amet cursus sit amet dictum sit amet. Tortor dignissim convallis aenean et tortor at. Ac turpis egestas maecenas pharetra convallis posuere morbi.

Egestas erat imperdiet sed euismod. Interdum posuere lorem ipsum dolor sit amet. Est sit amet facilisis magna etiam tempor orci eu lobortis. Maecenas pharetra convallis posuere morbi leo urna molestie at. Ultrices sagittis orci a scelerisque. Ipsum consequat nisl vel pretium lectus quam id leo. Orci a scelerisque purus semper eget duis. Neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing. Tempor nec feugiat nisl pretium fusce id velit ut. Viverra adipiscing at in tellus integer feugiat scelerisque varius. Varius duis at consectetur lorem donec massa sapien. Massa eget egestas purus viverra. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Augue interdum velit euismod in pellentesque massa.

Velit euismod in pellentesque massa. Vel fringilla est ullamcorper eget. Pretium fusce id velit ut tortor pretium viverra suspendisse potenti. Convallis a cras semper auctor neque. Ac auctor augue mauris augue neque gravida in. Laoreet id donec ultrices tincidunt. Amet est placerat in egestas erat imperdiet sed. Urna nec tincidunt praesent semper. Hendrerit dolor magna eget est lorem ipsum. Sociis natoque penatibus et magnis dis. Purus ut faucibus pulvinar elementum integer enim neque. Morbi leo urna molestie at elementum eu facilisis. Pharetra sit amet aliquam id diam maecenas ultricies mi eget. Sapien pellentesque habitant morbi tristique senectus et netus. Non quam lacus suspendisse faucibus. Congue nisi vitae suscipit tellus mauris a diam. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim.

Amet consectetur adipiscing elit ut aliquam purus sit amet. Diam sollicitudin tempor id eu nisl nunc mi. Ut etiam sit amet nisl purus in mollis nunc. Sem integer vitae justo eget magna fermentum iaculis. In aliquam sem fringilla ut. Sit amet consectetur adipiscing elit ut aliquam. Nec nam aliquam sem et tortor. Id diam maecenas ultricies mi eget. Quis hendrerit dolor magna eget est lorem. Dignissim convallis aenean et tortor at risus viverra. Nec feugiat in fermentum posuere urna nec tincidunt. Odio eu feugiat pretium nibh ipsum consequat nisl.

Tristique magna sit amet purus gravida quis blandit. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Platea dictumst vestibulum rhoncus est pellentesque elit. Magna etiam tempor orci eu lobortis elementum nibh tellus. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit. Porttitor leo a diam sollicitudin tempor id eu nisl. Pharetra convallis posuere morbi leo urna molestie. Cursus turpis massa tincidunt dui ut ornare lectus. Massa ultricies mi quis hendrerit dolor. Malesuada fames ac turpis egestas sed tempus urna et. Id consectetur purus ut faucibus pulvinar elementum. Magna fringilla urna porttitor rhoncus dolor purus. Nulla pharetra diam sit amet nisl. Donec ultrices tincidunt arcu non. Id diam vel quam elementum pulvinar etiam non quam. Libero nunc consequat interdum varius sit amet.

Consectetur adipiscing elit ut aliquam purus sit. Eros in cursus turpis massa tincidunt dui ut ornare. Nulla aliquet porttitor lacus luctus accumsan tortor. Non consectetur a erat nam at. Vitae suscipit tellus mauris a diam maecenas. Ullamcorper malesuada proin libero nunc consequat interdum varius sit. Eu facilisis sed odio morbi quis. Erat nam at lectus urna duis convallis convallis tellus id. Velit sed ullamcorper morbi tincidunt ornare. Faucibus nisl tincidunt eget nullam. Enim neque volutpat ac tincidunt. Quam id leo in vitae.

Interdum velit euismod in pellentesque massa placerat duis ultricies. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Vel turpis nunc eget lorem dolor. Est ante in nibh mauris cursus mattis. Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Blandit libero volutpat sed cras ornare arcu. Mauris augue neque gravida in fermentum. Feugiat pretium nibh ipsum consequat nisl vel pretium lectus quam. Odio tempor orci dapibus ultrices in iaculis. Sit amet nulla facilisi morbi.

Ornare massa eget egestas purus viverra accumsan in. Nibh praesent tristique magna sit amet purus gravida. Proin fermentum leo vel orci. Accumsan sit amet nulla facilisi morbi. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Non tellus orci ac auctor augue mauris augue neque gravida. Velit scelerisque in dictum non. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Purus sit amet volutpat consequat. Ipsum faucibus vitae aliquet nec ullamcorper. Pretium nibh ipsum consequat nisl vel pretium lectus. Consectetur adipiscing elit ut aliquam purus sit amet luctus. A arcu cursus vitae congue mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Consectetur adipiscing elit pellentesque habitant morbi. Malesuada fames ac turpis egestas sed tempus urna. Quisque sagittis purus sit amet volutpat consequat mauris. Adipiscing diam donec adipiscing tristique. Venenatis lectus magna fringilla urna.

Pulvinar neque laoreet suspendisse interdum consectetur libero id. Augue interdum velit euismod in pellentesque massa. Magna fermentum iaculis eu non diam phasellus vestibulum lorem. Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. Varius quam quisque id diam vel quam elementum. At tellus at urna condimentum mattis pellentesque id. Dolor purus non enim praesent elementum facilisis leo. Neque gravida in fermentum et sollicitudin ac. Fermentum dui faucibus in ornare quam viverra orci. Eget sit amet tellus cras adipiscing enim eu turpis egestas. Vitae aliquet nec ullamcorper sit amet risus nullam eget felis. Nunc pulvinar sapien et ligula. Etiam dignissim diam quis enim lobortis. Scelerisque purus semper eget duis at.

Felis imperdiet proin fermentum leo. Nisl vel pretium lectus quam id leo in. Aliquet nec ullamcorper sit amet. Quis auctor elit sed vulputate mi. Mauris vitae ultricies leo integer. Netus et malesuada fames ac turpis egestas integer. Magna eget est lorem ipsum dolor sit. Nunc aliquet bibendum enim facilisis gravida neque convallis a cras. Neque ornare aenean euismod elementum. Nunc scelerisque viverra mauris in aliquam. Suspendisse faucibus interdum posuere lorem ipsum. Scelerisque purus semper eget duis at tellus at. Quam elementum pulvinar etiam non quam lacus suspendisse. Gravida arcu ac tortor dignissim convallis aenean et tortor. Fermentum et sollicitudin ac orci phasellus egestas. Neque sodales ut etiam sit amet nisl. Maecenas pharetra convallis posuere morbi leo urna. Tincidunt praesent semper feugiat nibh. Ut sem viverra aliquet eget sit amet tellus cras.

Velit sed ullamcorper morbi tincidunt ornare massa. Fermentum leo vel orci porta non pulvinar neque laoreet. Vitae aliquet nec ullamcorper sit amet risus nullam eget felis. Ridiculus mus mauris vitae ultricies. Porttitor massa id neque aliquam vestibulum morbi blandit cursus risus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. Curabitur vitae nunc sed velit dignissim. Suspendisse interdum consectetur libero id faucibus nisl tincidunt. Eget arcu dictum varius duis. Nunc vel risus commodo viverra maecenas accumsan lacus vel facilisis. Tincidunt arcu non sodales neque sodales ut etiam. Pulvinar sapien et ligula ullamcorper malesuada.

Cursus vitae congue mauris rhoncus aenean vel. Libero volutpat sed cras ornare arcu dui vivamus arcu. Risus quis varius quam quisque id diam vel quam. Pellentesque habitant morbi tristique senectus et netus et malesuada. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis. Pharetra sit amet aliquam id diam maecenas ultricies. Vel fringilla est ullamcorper eget nulla. Ullamcorper dignissim cras tincidunt lobortis feugiat. Ornare suspendisse sed nisi lacus. Diam ut venenatis tellus in metus. Ac turpis egestas sed tempus urna. Fusce ut placerat orci nulla. Arcu non odio euismod lacinia at quis risus sed vulputate. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Velit dignissim sodales ut eu sem integer vitae. Orci nulla pellentesque dignissim enim sit amet. Amet consectetur adipiscing elit duis tristique. Auctor eu augue ut lectus arcu.

Ac orci phasellus egestas tellus rutrum tellus. Mattis rhoncus urna neque viverra justo nec. Egestas sed sed risus pretium. Molestie ac feugiat sed lectus vestibulum mattis. Arcu ac tortor dignissim convallis aenean et tortor at risus. Mi proin sed libero enim sed faucibus. Viverra maecenas accumsan lacus vel facilisis volutpat est velit. Sapien nec sagittis aliquam malesuada. Egestas sed tempus urna et pharetra pharetra massa massa ultricies. Ultricies tristique nulla aliquet enim tortor at. Nec feugiat nisl pretium fusce id velit ut tortor. Ultrices vitae auctor eu augue ut. Sit amet volutpat consequat mauris nunc congue nisi vitae suscipit. Non enim praesent elementum facilisis leo. Enim blandit volutpat maecenas volutpat. Sapien nec sagittis aliquam malesuada bibendum arcu. Scelerisque eleifend donec pretium vulputate sapien nec. Ut etiam sit amet nisl purus.
				</div>
				<div class="main_right_chat_usr"></div>
				<div class="main_right_chat_input">
					<textarea type="text" id="input-chat" placeholder="Type your message"></textarea>
					<div class="send-div"> <i class="send fas fa-paper-plane"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mobile-main">
		<div class="upper-container">

		</div>
		<div class="bottom-container">

		</div>
	</div>
	<script src="/js/cnfJS/sidebar.js"></script>
    <script src="/js/cnfJS/toolbar.js"></script>
	<script src="/js/cnfJS/desktopdisplay.js"></script>
</body>

</html>