<%- include("partials/header"); -%> 
        <link rel="stylesheet" href="/css/join.css">
        <link rel="icon" href="/img/logoc.svg">
        <title>CREATE - a meeting </title>
    </head>
    <body>
        <div class="nav">
            <div class="left-item">
                <button class="back-button"  onclick="window.location.href = '/options'">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </button>
            </div>
            <div class="right-item">
                <button class="logout-btn" onclick="window.location.href = '/logout'">
                    logout
                </button>
            </div>
        </div>
        <div class='ripple-background'>

            <div class="main">
                <div class="left-div"></div>
                <div class="right-div">
                    <div class="form-div">
                        <h1>CREATE</h1>
                        <form action="/conference" class="form-box">
                             <label for="">
                                 Display name
                             </label>
                             <input type="text" class="input-box" name="username" required placeholder="display name">
                             <label for="">
                                 Room name
                             </label>
                             <input type="text" class="input-box" name="room" required placeholder="room name">
                             <button>Enter</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class='circle xxlarge shade1'></div>
            <div class='circle xlarge shade2'></div>
            <div class='circle large shade3'></div>
            <div class='circle mediun shade4'></div>
            <div class='circle small shade5'></div>
          </div>
          
    </body>
</html>