<%- include("partials/header"); -%> 
        <link rel="stylesheet" href="/css/end.css">
     
    </head>
    <body>
        <div class="main">
            <div class="main-container">
                <button>
                    <div class="para">
                        <i class="fas fa-chevron-left"></i> 
                        <p>rejoin previous meeting</p>
                    </div>
                  
                </button>
                <button>
                    <div class="para">
                        <i class="fas fa-chevron-left"></i>
                        <p>
                            back to home
                        </p>
                    </div>
                    
                </button>
                <button>
                    <div class="para">
                        <i class="fas fa-chevron-left"></i> 
                        <p>
                            logout
                        </p>

                    </div>
                   
                </button>
            </div>
        </div>
    </body>
</html> 