<%- include("partials/header"); -%> 
        <link rel="stylesheet" href="/css/end.css">
        <title>End Meeting</title>
    </head>
    <body>
        <div class="main">
            <div class="main-container">
                <div class="logo">
                    <div class="logo-img">
                        <img src="/img/logo.png" alt="logo">
                    </div>
                    <p>
                        Conference
                    </p>
                </div>
                <button>
                    <div class="para" id="rejoin">
                        <i class="fas fa-chevron-left"></i> 
                        <p>Rejoin previous meeting</p>
                    </div>
                </button>
                <button>
                    <div class="para" onclick="window.location.href = '/'">
                        <i class="fas fa-chevron-left"></i>
                        <p>
                            Back to home
                        </p>
                    </div>
                    
                </button>
                <button onclick="window.location.href = '/logout'">
                    <div class="para">
                        <i class="fas fa-chevron-left"></i> 
                        <p>
                            Logout
                        </p>

                    </div>
                   
                </button>
            </div>
        </div>
        <script src="js/endPage/rejoin.js"></script>
    </body>
</html> 