

</html>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Conference - Online video conferencing app</title>
	<link rel="stylesheet" href="/css/long1.css" />
	<link rel="icon" href="/img/logoc.svg">

<body>
	<section id="header" class="cyan">
		<div class="top">
			<div><b>Conference</b></div>
			<div>Contribute</div>
		</div>
		<div class="mid">
			<h2>
<b
   >Don’t stop your work because of covid , go online from Conference
leading video conferencing software
</b>
</h2>
			<button onclick="window.location.href='/login'" class="button0">explore - it’s free!</button>
		</div>
	</section>
	<section id="join" class="white">
		<div>
			<h1>join</h1>
			<h2>you don’t need any room name just enter room password and join</h2>
			<iframe src="https://www.youtube.com/embed/vFhAEoCF7jg"> </iframe>
		</div>
	</section>
	<section id="how" class="black">
		<div class="steps">
			<h1><b>How easy it is to join a conference?</b></h1>
			<div class="list-ele">
				<div class="s">
					<div class="box-circle">
						<div class="circle">
							<p>1</p>
						</div>
					</div>
				</div>
				<div class="t">
					<p class="p">Login</p>
				</div>
			</div>
			<div class="list-ele">
				<div class="s">
					<div class="box-circle">
						<div class="circle">
							<p>2</p>
						</div>
					</div>
				</div>
				<div class="t">
					<p class="p">Enter Code</p>
				</div>
			</div>
			<div class="list-ele">
				<div class="s">
					<div class="box-circle">
						<div class="circle">
							<p>3</p>
						</div>
					</div>
				</div>
				<div class="t">
					<p class="p"> Ta da 🙌🏻</p>
				</div>
			</div>
		</div>
		</div>
	</section>
	<section id="create" class="white">
		<div>
			<h1><b>create</b></h1>
			<h2>you have the option to create two types of conference</h2>
			<iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY"> </iframe>
		</div>
	</section>
	<section id="pink" class="pink1">
		<div class="container">
			<div class="lhs"><img src="/img/img1.svg" alt="img1" /></div>
			<div>
				<h2>Create your conference without breaking a sweat</h2>
				<button>Get Started Now</button>
			</div>
			<div class="rhs"><img src="/img/img2.svg" alt="img2" /></div>
		</div>
	</section>
	<section id="chat" class="white">
		<div>
			<h1><b>chat</b></h1>
			<h2>you can send message in between a meeting</h2>
			<iframe width="460" height="345" src="https://www.youtube.com/embed/dCmp56tSSmA"></iframe>
	</section>
	<section id="review" class="feedback">
		<div class="rev-box">
			<div class="rev1">
				<h1 style="text-align: center;">Tell us about your experience 😎</h1>
				<form action="">
					<label for="mail">email</label>
					<br>
					<br>
					<input type="email" name="email" id="mail">
					<br>
					<br>
					<label for="recommendations">any recommendation ?</label>
					<br>
					<br>
					<textarea name="recommendations" id="recommendations" ></textarea>
					<br>
					<br>
					<!-- <label for="rating">what rating will you give us ?</label><br><br> -->
					<div class="sub">
						<!-- Stars here -->
						<input type="submit" value="ship it  🚀"> </div>
			</div>
		</div>
	</section>
	<section id="footer" class="last">
		<div class="box-last">
			<div class="head1"> Conference </div>
			<div class="text-last"> Dear Sir/Ma’am
				<br>
				<br> Conference is a video conferencing application where you can create or join meeting . it is made by the students of J.C.Bose university of technology, YMCA, Faridabad.this is an open source project so feel free to contribute . </div>
			<br>
			<button class="button0"> Code of Conduct </button>
			<br>
			<br>
			<div class="text-last"> messages of chat are encrypted only the people in conference can see the messages . Once the conference is ended chat messages are destroyed. we only stores the email id’s of users attending the meeting . we support full privacy of our users. </div>
			<br>
			<button class="button0"> Terms and Conditions </button>
			<br>
			<br>
			<div class="text-last"> Conference team and company will not be liable of any incident happening in conference. conference is a open source project . Plagarism of code in any profitable project can lead to legal issue.
				<br>
				<br> Conference believes in a democratic world , no one will be discriminated on the basis of caste ,sex , religion, we seriously condemn every undemocratic behavior.
				<br>
				<br> Happy journey !
				<br>
				<br> Team Conference
				<br>
				<br>
				<div style="text-align: center;" class="text-last"> If you agree with our code of conduct and Terms of condition , click</div>
			</div>
			<button class="button-last"> next </button>
		</div>
	</section>
</body>

</html>
