
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Conference - Online video conferencing app</title>
	<link rel="stylesheet" href="/css/long1.css" />
	<link rel="icon" href="/img/logo.png">

<body>
	<section id="header" class="cyan">
		<div class="top">
			<div><b>Conference</b></div>
			<div style="cursor: pointer;" onclick="window.location.href='https://github.com/project-conference/conference' ">Contribute</div>
		</div>
		<div class="mid">
			<h2>
<b
   >Don’t stop your work because of covid , go online from Conference
leading video conferencing software
</b>
</h2>
			<button style="cursor: pointer;" onclick="window.location.href='/login'" class="button0">Explore - it’s free!</button>
		</div>
	</section>
	<section id="join" class="white">
		<div>
			<h1>Join</h1>
			<h2>You don’t need any room name just enter room password and join</h2>
			<img src="/img/joinmeet.svg" alt="join meet" class="iframe">
		</div>
	</section>
	<section id="how" class="black">
		<div class="steps">
			<h1><b>How easy it is to join a conference?</b></h1>
			<div class="list-ele">
				<div class="s">
					<div class="box-circle">
						<div class="circle">
							<p>1</p>
						</div>
					</div>
				</div>
				<div class="t">
					<p class="p">Login</p>
				</div>
			</div>
			<div class="list-ele">
				<div class="s">
					<div class="box-circle">
						<div class="circle">
							<p>2</p>
						</div>
					</div>
				</div>
				<div class="t">
					<p class="p">Enter Code</p>
				</div>
			</div>
			<div class="list-ele">
				<div class="s">
					<div class="box-circle">
						<div class="circle">
							<p>3</p>
						</div>
					</div>
				</div>
				<div class="t">
					<p class="p"> Ta da 🙌🏻</p>
				</div>
			</div>
		</div>
		</div>
	</section>
	<section id="create" class="white">
		<div>
			<h1><b>User friendly UI</b></h1>
			<h2>Videos are shown in grid and user can  easily mute , stop face cam or mute anyone. </h2>
			<img src="/img/gridmeet.svg" alt="grid meet" class="iframe">
		</div>
	</section>
	<section id="pink" class="pink1">
		<div class="container">
			<div class="lhs"><img src="/img/img1.svg" alt="img1" /></div>
			<div>
				<h2>Create your conference without breaking a sweat</h2>
				<button>Get Started Now</button>
			</div>
			<div class="rhs"><img src="/img/img2.svg" alt="img2" /></div>
		</div>
	</section>
	<section id="chat" class="white">
		<div>
			<h1><b>Chat</b></h1>
			<h2>Users also have a feature to do text communications. <br>Each user has a different avatar color which helps to differentiate users among them.</h2>
			<img src="/img/chatmeet.svg" alt="grid chat" class="iframe">
	</section>

	<section id="footer" class="last">
		<div class="box-last">
			<div class="head1"> Conference </div>
			<div class="text-last"> Dear Sir/Ma’am
				<br>
				<br> Conference is a video conferencing application where you can create or join meeting . it is made by the students of J.C.Bose university of technology, YMCA, Faridabad.this is an open source project so feel free to contribute . </div>
			<br>
			<button class="button0"> Code of Conduct </button>
			<br>
			<br>
			<div class="text-last"> messages of chat are encrypted only the people in conference can see the messages . Once the conference is ended chat messages are destroyed. we only stores the email id’s of users attending the meeting . we support full privacy of our users. </div>
			<br>
			<button class="button0"> Terms and Conditions </button>
			<br>
			<br>
			<div class="text-last"> Conference team and company will not be liable of any incident happening in conference. conference is a open source project . Plagarism of code in any profitable project can lead to legal issue.
				<br>
				<br> Conference believes in a democratic world , no one will be discriminated on the basis of caste ,sex , religion, we seriously condemn every undemocratic behavior.
				<br>
				<br> Happy journey !
				<br>
				<br> Team Conference
				<br>
				<br>
			</div>
		</div>
	</section>
</body>

</html>
