<%-include("partials/header");-%>
<%-include("partials/nav2");-%>
<!-- closebar - cB
      sidebar - sB -->
<div class="outside">
    <div class="outside_1">
        <div class="outside_1_2_p1">
            <h1 class="joinHeading">It's never too late ,contribute to <a style="color:yellow" href="">conference</a> and be a part of history.</h1>
        </div>
        <div class="outside_1_2_p2">
            <div class="outside_1_2_p2_cB">
                <div class="outside_1_2_p2_cB_cont">
                    <div class="outside_1_2_p2_cB_cont_c1 cir">

                    </div>
                    <div class="outside_1_2_p2_cB_cont_c2 cir">
                        
                    </div>
                    <div class="outside_1_2_p2_cB_cont_c3 cir">
                        
                    </div>
                </div>
            </div>
            <div class="outside_1_2_p2_w">
                <div class="outside_1_2_p2_w_sBl">
                
                </div>
                <div class="outside_1_2_p2_w_sBr">
                    <div class="outside_1_2_p2_w_sBr_l1">
                        <div class="outside_1_2_p2_w_sBr_l1_img">
                            <video aria-describedby="avatar-video" 
                            class="imb" 
                            autoplay loop muted playsinline poster="https://a.slack-edge.com/6d2d0a/marketing/img/homepage/bold-prospect/hero/hero-avatar.png">
                            <source src="https://a.slack-edge.com/a14f7/marketing/img/homepage/bold-prospect/video-avatars/hero-avatar.small.mp4" type="video/mp4">
                                <source src="https://a.slack-edge.com/5ebc9a2/marketing/img/homepage/bold-prospect/video-avatars/hero-avatar.small.webm" 
                                type="video/webm">
                                Your browser does not support the video tag.
                              </video>
                        </div>
                        <div class="outside_1_2_p2_w_sBr_l1_ques">
                           <p>Wait..How to join a conference ?</p>
                        </div>
                    </div>
                    <div class="outside_1_2_p2_w_sBr_l2">
                        <div class="outside_1_2_p2_w_sBr_l2_img">
                            <img 
                            class="imb"
                            src="https://a.slack-edge.com/02792/marketing/img/avatars/persona_e/persona-e.png" srcset="https://a.slack-edge.com/02792/marketing/img/avatars/persona_e/persona-e.png 1x" alt="">
                        </div>
                        <div class="outside_lvl2_p2_w_sBr_l2_ques">
                            <p class="outside_lvl2_p2_w_sBr_l2_ques_type"></p>
                            <div class="tag">
                                <span>👍🏻 <span class="like">1</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="outside_1_2_p2_w_sBr_l3">
                        <form action="" class="send">
                            <input type="text" class="black-border">
                            <button class="black-border-btn"><i class="far fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/display2.js"></script>
<script src="/js/typing.js"></script>
</body>
</html>