<%- include("partials/headerEntry"); -%>
<%- include("partials/nav"); -%>
<div class="main">
    <div class="main_wrap">
        <div class="main_wrap__pos">
            <div class="main_wrap__pos__description">
                <h1>Login...</h1>
            </div>
        </div>
            <div class="main_wrap__form">
                <div class="main_wrap__form_h">
                    <div class="main_wrap__form_h_content">
                            <form action="/login" method="POST" class="login">
                                <div class="inform">
                                    <div class="input_feilds">
                                        <div class="block">
                                            <p class="label" name="username">Email</p>
                                            <input type="email" required>
                                        </div>
                                        <div class="block">
                                            <p class="label">Password</p>
                                            <input type="password" name="password" required>
                                        </div>
                                    </div>
                                    <div class="center_btn">
                                        <button class="blueBtn submit">submit</button>
                                    </div>
                                </div>
                            </form>
                            <form action="/register" method="POST" class="register">
                                <div class="inform">
                                    <div class="input_feilds">
                                        <div class="block">
                                            <p class="label" name="username">Email</p>
                                            <input type="email" required>
                                        </div>
                                        <div class="block">
                                            <p class="label">Password</p>
                                            <input type="password" name="password" required>
                                        </div>
                                        <div class="block">
                                            <p class="label">Confirm password</p>
                                            <input type="password"  required>
                                        </div>
                                    </div>
                                    <div class="center_btn">
                                        <button class="blueBtn submit">submit</button>
                                    </div>
                                </div>
                            </form>
                    </div>
                    
                    <div class="main_wrap__form_h_opt">
                        <div class="option-btn">
                            <button onclick="toggle()" class="blueBtn optBtn">Sign up</button>
                        </div>
                        <div class="google">
                            <i class="fa fa-google fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
            </div>
    </div>
</div>
<%- include("partials/footerEntry"); -%>