<%- include("partials/header"); -%> 
<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<%- include("partials/nav"); -%>
<div class="main">
  <div class="main_wrap">
    <div class="main_wrap__pos">
      <div class="main_wrap__pos__description">
         <img class="login-page-image" src="/img/videochat.svg" alt="">
      </div>
      <div class="main_wrap__pos__qoute">
        <p class="qoutes-content"></p>
        <p class="qoutes-author"></p>
      </div> 
    
    </div>
    <div class="main_wrap__form">
      <div class="main_wrap__form_h">
        <div class="main_wrap__form_h_content">
          <form action="/login" method="POST" class="login">
            <div class="inform">
              <div class="input_feilds">
                <div class="block">
                  <p class="label">Email</p>
                  <input name="username" type="email" required />
                </div>
                <div class="block">
                  <p class="label">Password</p>
                  <input type="password" name="password" required />
                </div>
              </div>
              <div class="center_btn">
                <button class="blueBtn submit">submit</button>
              </div>
            </div>
          </form>
          <form action="/register" method="POST" class="register">
            <div class="inform">
              <div class="input_feilds">
                <div class="block">
                  <p class="label">Email</p>
                  <input name="username" type="email" required />
                </div>
                <div class="block">
                  <p class="label">Password</p>
                  <input type="password"  name="password" class="pass1" required />
                </div>
                <div class="block">
                  <p class="label">Confirm password</p>
                  <input type="password" class="cpass" required />
                </div>
              </div>
              <div class="center_btn">
                <button class="blueBtn submit" >submit</button>
              </div>
            </div>
          </form>
        </div>

        <div class="main_wrap__form_h_opt">
          <div class="option-btn">
            <button onclick="toggle()" class="blueBtn optBtn">Sign up</button>
          </div>
          <div class="google" onclick="window.location.href='/auth/google'">
            <i class="fa fa-google fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/validity.js"></script>
<script src="/js/qoute.js"></script>
<%- include("partials/footerEntry"); -%>
