<%- include("partials/headerEntry"); -%>
<div class="auth-page">
    <div class="auth-page-main">
        <a class="page-main-full-a">
            <div class="full-div">
                <h1 class="black-h1">Sign up with <span class="google"><img class="logo" src="/img/google.png" alt="google logo"></span> <span class="disapear">oogle</span></h1>
            </div>
        </a>
        <div class="auth-page-main-or">
            <h1 class="white-h1">or</h1>
        </div>
        <div class="page-main-full">
                <div class="half-div">
                    <h1 class="black-h1">Login</h1>
                </div>
                <hr class="line">
                <div class="half-div" style="margin-left: auto;">
                    <h1 class="black-h1">Sign up</h1>
                </div>
        </div>
    </div>
</div>
<%- include("partials/footerEntry"); -%>