<%-include("partials/header");-%>
<link rel="stylesheet" href="/css/options.css" />
</head>
<body>
<%-include("partials/nav2");-%>
    <div class="main_container">
        <div class="childNavbar">
            <div class="dateTime">
                <div class="time">
                    <p class="time-para">23:45</p>
                    <span class="time-span">PM</span>
                </div>
                <div class="date">
                    <p class="date-para">sat , 20 january 2021</p>
                </div>
            </div>
            <div class="details">
                <img src="https://img.icons8.com/plasticine/452/clipboard.png"/>
            </div>
        </div>
        <div class="main_container_options">
            <div class="main_container_options_btn">

            </div>
            <div class="main_container_options_log">

            </div>
        </div>
    </div>
<%-include("partials/footerEntry");-%>
