<%-include("partials/headerEntry");-%>
<%-include("partials/nav2");-%>
<div class="option_full">
    <div class="add">
        <div class="cross" onclick="remove()">
            <i class="far fa-times-circle"></i>
        </div>
        <div class="add_logo">
            <i class="fab fa-github-alt social_icon"></i>
        </div>
        <div class="add_desc">
            <div class="add_desc_details">
                <p class="add_desc_details_title"><span class="large">C</span>ontribute   <span><a class="med" href=""><i class="fas fa-code-branch"></i></a></span></p>
                <p style="color:white;font-size:1rem;margin-bottom: 10px;">Conference is an open source project ,if you want to contribute , fork our project and stay happy . </p>
                <p class="love" style="text-align: right;color:white;margin-bottom: 10px;">Made with <i class="fas fa-heart" style="color: red;"></i>
            </div>
        </div>
    </div>
    <div class="option_full_center">
        <div class="option_full_center_btn center_btn">
            <div class="option_full_center_btn_a">
                <a href="/join">JOIN A CONFERENCE</a>
            </div>
        </div>
        <div class="center_btn">
        <h1 class="p">or</h1>
        </div>
        <div class="option_full_center_btn center_btn">
            <div class="option_full_center_btn_a">
                <a class="option_full_center_btn_a_link" href="/create">CREATE A CONFERENCE</a>
            </div>
        </div>
    </div>
</div>
<%-include("partials/footerEntry");-%>
