<%-include("partials/header");-%>
<link rel="stylesheet" href="/css/options.css" />
</head>
<body>
<%-include("partials/nav2");-%>
    <div class="main_container">
        <div class="childNavbar">
            <div class="dateTime">
                <div class="time">
                    <p class="time-para"></p>
                    <span class="time-span"></span>
                </div>
                <div class="date">
                    <p class="date-para"></p>
                </div>
            </div>
        </div>
        <div class="main_container_options">
            <div class="main_container_options_btn">
                <div class="main_container_options_btn_1">
                    <div class="btn btn1">
                        <a href="/join">
                            <div class="btn-a">
                                <p class="btn-para">JOIN</p>
                            </div>
                        </a>
                    </div>
                    <div class="btn btn2">
                        <a href="/create" >
                            <div class="btn-a">
                                <p class="btn-para">CREATE</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="main_container_options_btn_2">
                    <div class="btn btn3">
                        <img class="tiltedImg" src="/img/comingsoon.svg" alt="">
                        <a href="/create" >
                            <div class="btn-a">
                                <p class="btn-para">SCHEDULE</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="main_container_options_log">
                <!-- <img src="/img/videochat 1.svg" alt=""> -->
            </div>
        </div>
    </div>
    <script src="/js/timeDate.js"></script>
    <script src="/js/displayName.js"></script>
<%-include("partials/footerEntry");-%>
