@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&family=Roboto:wght@500&display=swap');
@keyframes animateleft{
    from{left:-300px;opacity:0} to{left:0;opacity:1}
}
@keyframes fading{
    0%{opacity: 0}50%{opacity: 0.5}100%{opacity: 1;}
}
@keyframes animateright{
    from{right:-300px;opacity:0} to{right:0;opacity:1}
}
@keyframes animatetop{
    from{top:-300px;opacity:0} to{top:0;opacity:1}
}
$primary-color : #2c2c2c;
$logo-set-color:(
    "big" : #2E9CDB,
    "med": #eb5757,
    "small": #26AE60
);
$font-set:(
    "rb": "Roboto" ,
    "rbs":"Roboto Slab"
);
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
button:focus,input:focus,select:focus{
    outline: none;
}
body {
    background-color: $primary-color;
    background-image: url("/img/logo.svg");
    background-repeat: no-repeat;
    background-size: 68%;
    background-position: center;
    width: 100%;
    height:100vh;
    margin: 0 auto;
    overflow-y: hidden;
}
.nav{
    width: 100%;
    height: 8vh;
    position: relative;
}

.logo{
    width: 48px;
    height: 48px;
}
.land-page{
    width: 100%;
    height: 92vh;
    display:flex;
    justify-content: center;
    position: relative;
    #{&}-main{
        margin: auto;
        width: 590px;
        position: relative;
     
        &-text-1{
            position: absolute;
            left: 0;
            top:30%;
            animation:animateleft 1s;
        }
        &-text-2{
            text-align: center;
            animation: fading 2s;
        }
        &-text-3{
            position:absolute;
            right: 10px;
            bottom: 30%;
            animation:animateright 1s;
        }
       
    }
    #{&}-btn{
        position: absolute;
        height: 60px;
        width: 130px;
        bottom:15%;
        right :20%;
        background: #545454;
        border:none;
        color:#2d2d2d;
        font-size: 36px;
        font-weight: 500;
        border-radius: 10px;
        font-family:map-get($font-set,rbs);
        animation: fading 1s;
        &:hover{
            border: 2px solid #777;
            color: #777;
            background: black;
            
        }
    }
}
.h-1{
    font-size: 48px;
    color : black;
    letter-spacing: 2px;
    font-weight: 400;
    font-family:map-get($font-set,rbs);
   #{&}-1{
        color:map-get($logo-set-color,big);
    }
    #{&}-2{
        color:white;
    }
    #{&}-3{
        color:map-get($logo-set-color,med);
    }
}
.h-2{
    font-size:250px;
    display: inline-block;
    color: black;
    font-family:map-get($font-set,rb);
}
.auth-page{
    width: 100%;
    height: 92vh;
    display: flex;
    #{&}-main{
        text-align: center;
        width: 60%;
        height: 60%;
        margin: auto;
        display:flex;
        justify-content:space-evenly;
        flex-direction: column;
        font-family:map-get($font-set,rbs);
    }

}
.white-h1{
    color: white;
    font-size: 40px;
    margin: auto;
    animation: fading 1s;
}
.black-h1{
    color: black;
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
}
.page-main-full-a{
    text-decoration: none;
    text-align: center;
    &:hover::before{
        opacity: 1;
        box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.8);
-webkit-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.8);
-moz-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.8);
    }
    animation:animatetop 1s;
}
.page-main-full,.page-main-full-a{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.half-div,.page-main-full-a{
    border-radius: 10px;
    position: relative;

    &::before{
        border-radius: 10px;
        content:'';
        position: absolute;
        background: white;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.5;
    }
}
.full-div{
    width: 100%;
    height: 80px;
    display: flex;
}
.half-div{
    width: 45%;
    height: 80px;
    display: flex;
    &:hover::before{
        opacity: 1;
        box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.8);
-webkit-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.8);
-moz-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.8);
    }
}
.line{
    display: none;
    height: 2px;
    background: white;
    opacity: 0.8;
    animation: fading 1s;
}
@media(max-width :800px){
    body{
        background-image: url("/img/logo2.svg");
        background-size: 180%;
    }
    .land-page{
        #{&}-main{
            margin: auto;
            width: 590px;
               position: static;
               text-align: center;
            &-text-1{
                position: static;
                display: none;
            }
            &-text-2{
                text-align: center;
                display: none;
            }
            &-text-3{
                position: static;
                display: block;
                animation: fading 2s ;
            }
        }
        #{&}-btn{
            position: absolute;
            height: 50px;
            width: 100px;
            bottom:15%;
            right :50%;
            margin-right: -50px;
            font-size: 24px;
            &:hover{
                border: 2px solid #777;
                color: #777;
                background: black;
            }
        }
    }
    .h-1{
        font-size: 48px;
        color : black;
        letter-spacing: 2px;
        font-weight: 400;
        font-family:map-get($font-set,rbs);
       #{&}-1{
            color:black;
        }
        #{&}-2{
            color:black;
            &-1{
                color: white;
            }
        }
        #{&}-3{
            color:black;
        }
    }
    .h-2{
        font-size: 48px;
    }
    .auth-page{
        #{&}-main{
            width: 80%;
        }
    }
    .page-main-full,.page-main-full-a{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .page-main-full{
        height: 220px;
    }
    .full-div{
        height:70px;
    }
    .half-div{
        width: 100%;
        height: 70px;
        display: flex;
        border-radius: 10px;
        &:hover::before{
            opacity: 1;
            box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.8);
            -webkit-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.8);
            -moz-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.8);
        }
    }
    .line{
        display: block;
    }
    .disapear{
        display: none;
    }
}