@mixin chat{
   
    .main_right_chat{
        height: 100vh;
        width: 360px;
        display: flex;
        flex-direction: column;
        &_header{
            width: 100%;
            min-height: 60px;
            z-index: 10;
            background: rgb(34, 34, 34);
            box-shadow: 0px 0px 5px  rgb(28, 28, 28);
            display: flex;
            justify-content: space-evenly;
            .participants,.messages{
                margin: auto;
                display: flex;
                width: 48%;
                height: 80%;
                font-size: 1.3rem;
                color: white;
                & > i{
                    margin: auto;
                }
                &:hover{
                    box-shadow: none;
                    background: rgb(94,94,94);
                    border-radius: 5px;
                 }
            }
            .active{
                box-shadow: inset 0 0 3px rgb(28, 28, 28);
                background: rgb(49, 49, 49);
            }
        }
        &_msg{
            flex-grow:1;
            width: 100%;
            background: rgb(49, 49, 49);
            overflow-y: scroll;
            display: flex;
            color: white;
        }
        &_usr{
            display: none;
            flex-grow: 1;
            width: 100%;
            background: rgb(49,49,49);
            overflow-y: scroll;
        }
        &_input{
            width: 100%;
            min-height: 80px;
            background: rgb(34, 34, 34);
            display: flex;
            justify-content: space-around;
            box-shadow: 0px 0px 3px  rgb(28, 28, 28);
            #input-chat{
                background: rgb(49,49,49);
                height: 60px;
                width:260px;
                border: none;
                border-radius: 30px;
                margin: auto;
                padding:20px;
                resize: none;
                font-family: 'Lato';
                font-size: 1rem;
                color: white;
            }
            .send-div{
                display: flex;
                height: 60px;
                width: 60px;
                font-size: 1.5rem;
                color: white;
                background: rgb(49,49,49);
                border-radius: 30px;
                margin: auto;
                &>i{
                    margin: auto;
                }
            }
            .send-div:hover{
                background: rgb(94, 94, 94);
            }
        }
    }
}