@mixin toolbar {
    .main_left_toolbar{
        height: 80px;
        width:100%;
        background: #090a0c;
        display: flex;
        }
        .center-buttons{
            width: 400px;
            margin: auto;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .end,.video,.mic{
            margin: auto;
        }
        .end,.video,.mic,.chat,.info{
            color:white;
            display: flex;
            font-size: 1.5rem;
            background: rgb(49,49,49);
            width: 60px;
            height: 60px;
            border-radius: 30px;
        }
        .end{
            background: rgb(250, 80, 80);
        }
        .end:hover{
            background: rgb(245, 49, 49);
        }
        .video:hover,.mic:hover,.chat:hover,.info:hover{
            background: rgb(94, 94, 94);
        }
        .chat,.info{
            margin:auto 20px ;
        }
        i{
            margin: auto;
        }
    }