@mixin video {
    .main_left_video{
        display: flex;
        flex-grow:1;
        width: 100%;
        max-height:98vh;
        .video-grid{
            padding:50px;
            margin:auto;
            display: flex;
            flex-wrap: wrap;
        }
        video{
          height: 250px;
            margin: 1rem ;
            width:330px;
            max-width:330px;
            background: black;
            background-image: url("/img/loading.gif");
            background-size: 53px;
            background-repeat: no-repeat;
            background-position: center;
            flex: calc(100% / 3);
            text-align: center;
            line-height: 100px;
        }
        
    }
}