@mixin video {
    .main_left_video{
        display: flex;
        height:100%;
        width: 100%;
        max-height:98vh;
        .video-flex-box{
            margin :auto;
            display:flex;
        }
        .video-grid{
            padding:50px;
            max-width: 100%;
            margin:auto;
            display: flex;
            flex-wrap: wrap;
        }

        video{
            max-height: 250px;
            min-height:200px;
            margin: 1rem ;
            min-width:250px;
            max-width:330px;
            background: black;
            background-image: url("/img/loading.gif");
            background-size: 53px;
            background-repeat: no-repeat;
            background-position: center;
            flex: calc(100% / 3);
            text-align: center;
            line-height: 100px;
        }
        
    }
}