@mixin errorMSG {
    .error-div{
        display: none;
        position: absolute;
        height:50px;
        background: white;
        right:20px;
        top:20px;
        border-left: 5px solid #eb5757;
       .inner-div{
           display: flex;
           height: 100%;
           position: relative;
           color:black;
           .cross{
               position: absolute;
               cursor: pointer;
               top:5px;
               right: 10px;
               color: black;
               font-size: .9rem;
           }
           .error-msg{
               margin: auto;
               text-align: center;
               margin-left: 1.2rem;
               margin-right: 2rem;
           }
       }
    }
}